<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<title>GrandPy Bot</title>
	</head>
	<body>
		<div id="bloc_page1"></div><!-- Liseré -->					
		<div id="bloc_page2"><!-- CV -->
			<div id="logo"><img class="GrandPiBotte" src="../static/img/GrandPiBotte.png"></a></div>
			<header>
				<h1>GrandPy Bot</h1>
				<p id="intro">"GrandPy Bot : ça me botte !"</p>				
			</header>			
			<section>
				<div id="Home">
				<h2>Acceuil</h2>
					<ul>
						<li><strong>Posez votre question à GrandPy </strong> ... <em>(blabla)</em><br />blabla2</li>							
					</ul>
				</div>
				<div id="Empty_zone">	
				<h2>Zone vide</h2>
					<ul>
						<li>Q1</li>
						<li>R1-adresse</li>
						<li>R1-map</li>
                        <li>R1-texte</li>
                        <li>Q2</li>
					</ul>
				</div>
				<div id="Form"	>
				<h2>Formulaire</h2>
					<p>
						Ecrivez ici.
					</p>
				</div>
			</section>
			<footer>
				<h2>Contact</h2>
				<p><a href="#">loic.romero1@gmail.com</a></p>
			</footer>
		</div>	
	</body>
</html>