{% extends 'base.html' %}

{% block content %}	

	<!-- Logo 
	================================================================================ -->
	<div class="jumbotron row" id="logo">
		<h1 class="text-center" id="home_title">GrandPy Bot</h1>				
		<img id="GrandPiBotte" src={{ url_for('static', filename='img/GrandPiBotte.png') }} alt="GrandPiBotte">  
		<h2 class="text-center" id="teaser">"GrandPy Bot : ça me botte !"</h2>
		<p class="text-justify">Le GrandPy Bot, peut trouver n'importe quel endroit. Demandez lui de trouver une adresse et il la trouvera ! Il se peut même qu'il ait une petite histoire à raconter à son propos.</p>
	</div>

	<!-- Dialog 
		=========================================================================== -->				
	<div class="jumbotron row" id="dialog">
		<ul></ul><!-- Empty list waiting for input-->
		<img class="pull-left" id="loading_gif" src={{ url_for('static', filename='img/loading.gif') }} alt="Loading gif">
	</div>

	<!-- Map
	=========================================================================== -->				
	<div class="jumbotron row" id="jb_map">		
		<div id='mapbox' style='width: 400px; height: 300px;'></div>
	</div>			

	<!-- Form 
	============================================================================ -->
	<form class="col-xs-12" id="question"> 
		<label>Votre question :</label>
		<input type="text" id="userquestion" class="form-control"></input><br>
		<button type="submit" class="btn btn-default pull-right" id="sendBtn" value="add" disabled="true">Envoyer</button>			
	</form>	

	<!-- Fail box
	=========================================================================== -->				
	<div class="jumbotron row col-xs-10" id="fail_box">
		<p id='fail_text'></p>
	</div>	
	
{% endblock %}