{% extends 'index.html' %}
{% block template %}	
<!-- Message template 
=========================================================================== -->	
<div id="message_template">
    <div class="text_wrapper1">
        <div class="text1"></div>
    </div>

    <div class="avatar"><img class="miniBot" src='static/img/GrandPiBotte_Mini.png' alt='miniBot' /></div>
    <div class="text_wrapper2">
        <div class="text2"></div>
    </div>

    <div class="avatar"><img class="miniBot" src='static/img/GrandPiBotte_Mini.png' alt='miniBot' /></div>
    <div class="text_wrapper3">
        <div class="text3"></div>
    </div>
</div>
{% endblock %}