
/* Jumbotron */
.jumbotron row {
	margin-top: 50px;
	color:rgb(4, 124, 0);
}
.jumbotron p{
	margin-left : 20px
}

/* Body */
body
{	
	background-color : rgb(64, 131, 79);
}	

/* Text and image formatting*/
#home_title
{
	color:rgb(4, 124, 0);
}
#teaser
{
	margin-bottom: 20px;
	color:rgb(255, 60, 0);
}
img {
	display: block;
    margin-left: auto;
	margin-right: auto;
}
#GrandPiBotte{	
	height : 150px;
	width : 150px;
}

/* Loading gif */
#loading_gif{	
	height : 50px;
	width : 50px;
	margin-left: 50px;
	display: none;
}

/* Mapbox */
#jb_map{
	display: none;
}

/* Fail_box */
#fail_box{
	display: none;
	padding-top: 1px;
	padding-bottom: 1px;
	color:rgb(167, 40, 1);
	margin-top: 20px;
}

/* Footer */
footer.row {
	margin-top: 160px;
}

/* Links */
a:hover
{
  color:green; 
}
