
/* Jumbotron */

.jumbotron row {
	margin-top: 50px;
	background: rgba(55, 55, 2, 0.5);
}
.jumbotron p{
	margin-left : 50px
}

/* Body */
body
{	
	background-color: #99caf5;
}	

/* Text and image formatting*/
h1
{
	margin-bottom: 20px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer.row {
	margin-top: 50px;
}

/* Links */
a:hover
{
  color:green; 
}




